body {
      font-family: Arial, sans-serif;
      background-color: white;
      text-align: center;
      padding-top: 50px;
}
 
h1 {
    color: #333;

}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: darkblue;
}